{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": "off",
    "import/no-extraneous-dependencies": "off",
    "no-unused-expressions": ["error", { "allowTaggedTemplates": true }],
    "react/default-props-match-prop-types": "off",
    "jsx-a11y/label-has-for": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off"
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "overrides": [{
    "files": [
      "**/*.story.js"
    ],
    "rules": {
      "react/prop-types": "off"
    }
  }]
}
