@font-face {
  font-family: 'Happy';
  src: url('./webfonts/happy/Happy.eot');
  src: url('./webfonts/happy/Happy.eot?#iefix') format('embedded-opentype'),
       url('./webfonts/happy/Happy.woff') format('woff'),
       url('./webfonts/happy/Happy.ttf') format('truetype'),
       url('./webfonts/happy/Happy.svg#Happy') format('svg');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Happy';
  src: url('./webfonts/happy/HappyBold.eot');
  src: url('./webfonts/happy/HappyBold.eot?#iefix') format('embedded-opentype'),
       url('./webfonts/happy/HappyBold.woff') format('woff'),
       url('./webfonts/happy/HappyBold.ttf') format('truetype'),
       url('./webfonts/happy/HappyBold.svg#HappyBold') format('svg');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Happy';
  src: url('./webfonts/happy/HappyHeavy.eot');
  src: url('./webfonts/happy/HappyHeavy.eot?#iefix') format('embedded-opentype'),
       url('./webfonts/happy/HappyHeavy.woff') format('woff'),
       url('./webfonts/happy/HappyHeavy.ttf') format('truetype'),
       url('./webfonts/happy/HappyHeavy.svg#HappyHeavy') format('svg');
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}


@font-face {
  font-family: 'Happy';
  src: url('./webfonts/happy/HappyLight.eot');
  src: url('./webfonts/happy/HappyLight.eot?#iefix') format('embedded-opentype'),
       url('./webfonts/happy/HappyLight.woff') format('woff'),
       url('./webfonts/happy/HappyLight.ttf') format('truetype'),
       url('./webfonts/happy/HappyLight.svg#HappyLight') format('svg');
  font-style: normal;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}
