body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.StoryPreview-1 {
  font-family: 'QantasCiutadella', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  display: table !important;
  table-layout: auto !important;
}
